In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
#file path
file = '../WeatherPy/weather_by_city_output.csv'
weather_df = pd.read_csv(file)
weather_df.head()
weather_df.drop(columns=weather_df.columns[0], axis=1, inplace=True)
weather_df.head()

,city,country,latitude,longitude,max_temp,humidity,cloudiness,windspeed,date
0,Chui,UY,-33.6971,-53.4616,56.16,67,1,8.01,1628879154
1,Hilo,US,19.7297,-155.0900,76.12,83,40,5.75,1628879176
2,Lawrenceburg,US,38.0373,-84.8966,90.72,66,64,10.42,1628879176
3,Kapaa,US,22.0752,-159.3190,80.92,76,40,3.00,1628879176
4,Kirakira,SB,-10.4544,161.9205,77.54,89,83,9.46,1628879177

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#configure gmaps with api key
gmaps.configure(api_key=g_key)

In [5]:
#lat lng as locations and humidity as weight
locations = weather_df[['latitude', 'longitude']].astype(float)
#convert humidity to float
humidity = weather_df['humidity'].astype(float)

In [6]:
#create humidity heat map
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [32]:
#ideal conditions: max temp 65 - 78, humidity <70, windspeed <15
ideal = weather_df.loc[(weather_df['max_temp'] > 65) & (weather_df['max_temp'] <= 78) & 
                       (weather_df['humidity'] < 70) & (weather_df['windspeed'] < 15)]
ideal = ideal.dropna(how='any')
ideal = ideal.reset_index()
ideal = ideal.rename(columns={'index':'weather_df index'})

In [33]:
ideal

,weather_df index,city,country,latitude,longitude,max_temp,humidity,cloudiness,windspeed,date
0,8,Kahama,TZ,-3.8333,32.6000,75.88,40,83,1.86,1628879178
1,20,Atherton,GB,53.5237,-2.4935,69.44,64,28,11.12,1628879084
2,22,Oruzgan,AF,32.8333,66.0000,75.76,12,0,1.57,1628879182
3,75,Karratha,AU,-20.7377,116.8463,65.62,35,0,11.54,1628879195
4,107,Bozeman,US,45.6796,-111.0386,75.69,35,1,4.61,1628878948
5,110,Rawson,AR,-43.3002,-65.1023,65.37,21,0,9.73,1628879204
6,128,Teleneşti,MD,47.4997,28.3656,72.09,51,21,2.01,1628879210
7,149,Preeceville,CA,51.9500,-102.6677,73.00,32,48,12.53,1628879216
8,152,Vodnyy,RU,63.5046,53.4095,74.59,56,58,12.26,1628879217
9,154,Tocopilla,CL,-22.0920,-70.1979,66.04,65,12,10.83,1628879217
10,163,Yumen,CN,40.2833,97.2000,76.68,21,32,8.75,1628879220
11,174,Shubarkuduk,KZ,49.1447,56.4872,71.33,22,76,8.19,1628879223
12,197,Chibombo,ZM,-14.6569,28.0706,67.82,24,0,7.40,1628879229
13,200,Vila Franca do Campo,PT,37.7167,-25.4333,77.41,69,4,9.73,1628879230
14,207,Ostrów Mazowiecka,PL,52.8024,21.8951,67.62,68,72,7.61,1628879232
15,210,Baiyin,CN,36.5583,104.2081,65.28,52,78,4.14,1628879232
16,223,Faya,SA,18.3851,42.4509,71.71,49,84,3.96,1628879236
17,261,Port-Cartier,CA,50.0334,-66.8654,72.93,65,63,6.08,1628879246
18,269,Piaçabuçu,BR,-10.4056,-36.4344,77.34,69,16,10.87,1628879249
19,300,San José Iturbide,MX,21.0000,-100.3833,75.60,53,45,5.82,1628879257
20,304,Frânceşti,RO,45.0000,24.1000,71.83,47,21,2.55,1628879258
21,309,Sol'-Iletsk,RU,51.1631,54.9918,66.15,28,31,4.90,1628879260
22,315,Kakonko,TZ,-3.2828,30.9642,75.07,49,89,4.12,1628879261
23,353,Vuktyl,RU,63.8567,57.3094,70.20,55,81,11.99,1628879272
24,356,Norwich,GB,52.6278,1.2983,71.47,63,20,12.66,1628879035
25,374,Agadir,MA,30.4202,-9.5982,77.45,48,12,5.50,1628879277
26,378,Varna,BG,43.2167,27.9167,71.74,64,0,4.61,1628879279
27,387,Busembatia,UG,0.7697,33.6131,72.18,66,80,5.93,1628879281
28,396,Vyshkov,RU,52.4764,31.6873,71.49,60,6,5.08,1628879284
29,418,Prado,BR,-17.3411,-39.2208,75.87,60,8,7.65,1628879291
30,444,Mayor Pablo Lagerenza,PY,-19.9309,-60.7718,66.83,23,100,6.82,1628879298
31,446,Pangai,TO,-19.8000,-174.3500,69.91,60,20,10.36,1628879299
32,456,Nipawin,CA,53.3668,-104.0009,75.24,35,1,10.36,1628879292
33,459,Poum,NC,-20.2333,164.0167,69.24,62,5,11.97,1628879303
34,465,Loreto,MX,22.2667,-101.9667,74.97,32,83,7.99,1628879304
35,466,Caravelas,BR,-17.7125,-39.2481,76.53,57,14,7.65,1628879305
36,480,Temir,KZ,49.1414,57.1300,70.54,23,87,8.30,1628879308
37,503,Kalemie,CD,-5.9475,29.1947,75.65,63,34,1.25,1628879314
38,506,Flin Flon,CA,54.7682,-101.8650,67.84,42,75,4.61,1628879167
39,511,Kirensk,RU,57.7853,108.1119,67.01,66,97,4.94,1628879317
40,520,Los Zacatones,MX,22.9500,-102.0500,73.65,30,94,8.70,1628879319

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [35]:
#store ideal vacation cities in hotels df
hotel_df = ideal
hotel_df

,weather_df index,city,country,latitude,longitude,max_temp,humidity,cloudiness,windspeed,date
0,8,Kahama,TZ,-3.8333,32.6000,75.88,40,83,1.86,1628879178
1,20,Atherton,GB,53.5237,-2.4935,69.44,64,28,11.12,1628879084
2,22,Oruzgan,AF,32.8333,66.0000,75.76,12,0,1.57,1628879182
3,75,Karratha,AU,-20.7377,116.8463,65.62,35,0,11.54,1628879195
4,107,Bozeman,US,45.6796,-111.0386,75.69,35,1,4.61,1628878948
5,110,Rawson,AR,-43.3002,-65.1023,65.37,21,0,9.73,1628879204
6,128,Teleneşti,MD,47.4997,28.3656,72.09,51,21,2.01,1628879210
7,149,Preeceville,CA,51.9500,-102.6677,73.00,32,48,12.53,1628879216
8,152,Vodnyy,RU,63.5046,53.4095,74.59,56,58,12.26,1628879217
9,154,Tocopilla,CL,-22.0920,-70.1979,66.04,65,12,10.83,1628879217
10,163,Yumen,CN,40.2833,97.2000,76.68,21,32,8.75,1628879220
11,174,Shubarkuduk,KZ,49.1447,56.4872,71.33,22,76,8.19,1628879223
12,197,Chibombo,ZM,-14.6569,28.0706,67.82,24,0,7.40,1628879229
13,200,Vila Franca do Campo,PT,37.7167,-25.4333,77.41,69,4,9.73,1628879230
14,207,Ostrów Mazowiecka,PL,52.8024,21.8951,67.62,68,72,7.61,1628879232
15,210,Baiyin,CN,36.5583,104.2081,65.28,52,78,4.14,1628879232
16,223,Faya,SA,18.3851,42.4509,71.71,49,84,3.96,1628879236
17,261,Port-Cartier,CA,50.0334,-66.8654,72.93,65,63,6.08,1628879246
18,269,Piaçabuçu,BR,-10.4056,-36.4344,77.34,69,16,10.87,1628879249
19,300,San José Iturbide,MX,21.0000,-100.3833,75.60,53,45,5.82,1628879257
20,304,Frânceşti,RO,45.0000,24.1000,71.83,47,21,2.55,1628879258
21,309,Sol'-Iletsk,RU,51.1631,54.9918,66.15,28,31,4.90,1628879260
22,315,Kakonko,TZ,-3.2828,30.9642,75.07,49,89,4.12,1628879261
23,353,Vuktyl,RU,63.8567,57.3094,70.20,55,81,11.99,1628879272
24,356,Norwich,GB,52.6278,1.2983,71.47,63,20,12.66,1628879035
25,374,Agadir,MA,30.4202,-9.5982,77.45,48,12,5.50,1628879277
26,378,Varna,BG,43.2167,27.9167,71.74,64,0,4.61,1628879279
27,387,Busembatia,UG,0.7697,33.6131,72.18,66,80,5.93,1628879281
28,396,Vyshkov,RU,52.4764,31.6873,71.49,60,6,5.08,1628879284
29,418,Prado,BR,-17.3411,-39.2208,75.87,60,8,7.65,1628879291
30,444,Mayor Pablo Lagerenza,PY,-19.9309,-60.7718,66.83,23,100,6.82,1628879298
31,446,Pangai,TO,-19.8000,-174.3500,69.91,60,20,10.36,1628879299
32,456,Nipawin,CA,53.3668,-104.0009,75.24,35,1,10.36,1628879292
33,459,Poum,NC,-20.2333,164.0167,69.24,62,5,11.97,1628879303
34,465,Loreto,MX,22.2667,-101.9667,74.97,32,83,7.99,1628879304
35,466,Caravelas,BR,-17.7125,-39.2481,76.53,57,14,7.65,1628879305
36,480,Temir,KZ,49.1414,57.1300,70.54,23,87,8.30,1628879308
37,503,Kalemie,CD,-5.9475,29.1947,75.65,63,34,1.25,1628879314
38,506,Flin Flon,CA,54.7682,-101.8650,67.84,42,75,4.61,1628879167
39,511,Kirensk,RU,57.7853,108.1119,67.01,66,97,4.94,1628879317
40,520,Los Zacatones,MX,22.9500,-102.0500,73.65,30,94,8.70,1628879319

In [39]:
#Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

search_term = 'hotel'
radius = 5000
search_type = 'lodging'

hotel_list = []

counter = 0

for city in hotel_df['city']:
    lat = hotel_df['latitude'][counter]
    lng = hotel_df['longitude'][counter]
    location = f'{lat},{lng}'
    counter += 1
    params={'location': location, 'keyword': search_term, 'radius': radius, 'type': search_type, 'key':g_key}
    
    try:
        response = requests.get(base_url, params=params).json()
        hotel_name = response['results'][0]['name']
        hotel_list.append(hotel_name)
        
    except IndexError:
        hotel_list.append(np.nan)

hotel_list

['Submarine Hotels LTD',
 'Holiday Inn Express - Leigh Sports Village',
 nan,
 'Karratha International Hotel',
 'Kimpton Armory Hotel Bozeman',
 'Casa de mar',
 nan,
 nan,
 nan,
 'Hotel Galvarino',
 nan,
 nan,
 'Chibombo District Council Guest House',
 'Pestana Bahia Praia',
 'Hotel Dworek Nad Stawem',
 'Kinghood Joyway Hotel',
 nan,
 "Le Q'Artier",
 'Marinas Club: Restaurante, Pousada e Marina',
 'Hotel Mansión de San José',
 nan,
 'Alexandria56 hotel',
 'Edward Memorial Guest House',
 'Mini-Hotel Lokomotiv',
 'Sprowston Manor Hotel, Golf & Country Club',
 'Sofitel Agadir Thalassa sea & spa',
 'Rosslyn Dimyat Hotel Varna',
 nan,
 nan,
 'POUSADA PONTA DE AREIA - PRADO - BAHIA - HOSPEDAGEM E HOTEL',
 nan,
 "Ha'apai Beach Resort",
 'Tobin Lake Motel',
 nan,
 'Hotel San Miguel',
 'Pousada Encanto Abrolhos',
 nan,
 'Tcham Hotel',
 'Victoria Inn Flin Flon',
 nan,
 nan]

In [42]:
#add hotels tohotels_df and drop any null rows
hotel_df['hotel_name'] = hotel_list
hotel_df = hotel_df.dropna(how='any')
hotel_df = hotel_df.reset_index(drop=True)
hotel_df

,weather_df index,city,country,latitude,longitude,max_temp,humidity,cloudiness,windspeed,date,hotel_name
0,8,Kahama,TZ,-3.8333,32.6000,75.88,40,83,1.86,1628879178,Submarine Hotels LTD
1,20,Atherton,GB,53.5237,-2.4935,69.44,64,28,11.12,1628879084,Holiday Inn Express - Leigh Sports Village
2,75,Karratha,AU,-20.7377,116.8463,65.62,35,0,11.54,1628879195,Karratha International Hotel
3,107,Bozeman,US,45.6796,-111.0386,75.69,35,1,4.61,1628878948,Kimpton Armory Hotel Bozeman
4,110,Rawson,AR,-43.3002,-65.1023,65.37,21,0,9.73,1628879204,Casa de mar
5,154,Tocopilla,CL,-22.0920,-70.1979,66.04,65,12,10.83,1628879217,Hotel Galvarino
6,197,Chibombo,ZM,-14.6569,28.0706,67.82,24,0,7.40,1628879229,Chibombo District Council Guest House
7,200,Vila Franca do Campo,PT,37.7167,-25.4333,77.41,69,4,9.73,1628879230,Pestana Bahia Praia
8,207,Ostrów Mazowiecka,PL,52.8024,21.8951,67.62,68,72,7.61,1628879232,Hotel Dworek Nad Stawem
9,210,Baiyin,CN,36.5583,104.2081,65.28,52,78,4.14,1628879232,Kinghood Joyway Hotel
10,261,Port-Cartier,CA,50.0334,-66.8654,72.93,65,63,6.08,1628879246,Le Q'Artier
11,269,Piaçabuçu,BR,-10.4056,-36.4344,77.34,69,16,10.87,1628879249,"Marinas Club: Restaurante, Pousada e Marina"
12,300,San José Iturbide,MX,21.0000,-100.3833,75.60,53,45,5.82,1628879257,Hotel Mansión de San José
13,309,Sol'-Iletsk,RU,51.1631,54.9918,66.15,28,31,4.90,1628879260,Alexandria56 hotel
14,315,Kakonko,TZ,-3.2828,30.9642,75.07,49,89,4.12,1628879261,Edward Memorial Guest House
15,353,Vuktyl,RU,63.8567,57.3094,70.20,55,81,11.99,1628879272,Mini-Hotel Lokomotiv
16,356,Norwich,GB,52.6278,1.2983,71.47,63,20,12.66,1628879035,"Sprowston Manor Hotel, Golf & Country Club"
17,374,Agadir,MA,30.4202,-9.5982,77.45,48,12,5.50,1628879277,Sofitel Agadir Thalassa sea & spa
18,378,Varna,BG,43.2167,27.9167,71.74,64,0,4.61,1628879279,Rosslyn Dimyat Hotel Varna
19,418,Prado,BR,-17.3411,-39.2208,75.87,60,8,7.65,1628879291,POUSADA PONTA DE AREIA - PRADO - BAHIA - HOSPE...
20,446,Pangai,TO,-19.8000,-174.3500,69.91,60,20,10.36,1628879299,Ha'apai Beach Resort
21,456,Nipawin,CA,53.3668,-104.0009,75.24,35,1,10.36,1628879292,Tobin Lake Motel
22,465,Loreto,MX,22.2667,-101.9667,74.97,32,83,7.99,1628879304,Hotel San Miguel
23,466,Caravelas,BR,-17.7125,-39.2481,76.53,57,14,7.65,1628879305,Pousada Encanto Abrolhos
24,503,Kalemie,CD,-5.9475,29.1947,75.65,63,34,1.25,1628879314,Tcham Hotel
25,506,Flin Flon,CA,54.7682,-101.8650,67.84,42,75,4.61,1628879167,Victoria Inn Flin Flon

In [45]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel_name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["latitude", "longitude"]]

In [46]:
#add marker layer to heat map
marker_coord = hotel_df[['latitude', 'longitude']]
markers = gmaps.marker_layer(marker_coord)

fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
#output hotel_df to csv
hotel_df.to_csv('vacation_outputs/vacation_ideas.csv')